# Pandas (Review #1)

##### By: William HM

**Data Analytics Prep: This is to become familiar with Pandas library and working with Series and DataFrames**

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [34]:
# Series
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [35]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [11]:
# Order matters
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [13]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(d) # Pandas will take the keys of dict and set as index and set the values to corresp point

a    10
b    20
c    30
dtype: int64

In [15]:
d

{'a': 10, 'b': 20, 'c': 30}

In [16]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [18]:
pd.Series(data=[sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [19]:
# Grab info from series
ser1 = pd.Series([1,2,3,4], ['USA', 'Germany','USSR','Japan'])

In [20]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [21]:
ser2 = pd.Series([1,2,5,4], ['USA', 'Germany','France','Japan'])

In [22]:
ser2

USA        1
Germany    2
France     5
Japan      4
dtype: int64

In [24]:
ser1['USA'] # Should return the value assoc. with USA

1

In [25]:
ser3 = pd.Series(data=labels)

In [29]:
ser3[0]

'a'

In [30]:
ser1 + ser2

France     NaN
Germany    4.0
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [32]:
# NOTE: when performing ops with pandas, ints are converted to floats